.login_form {
    display: flex;
    justify-content: center;
    width: 350px;
}

.entryform__btn {
    margin-top: 10px;
}


@media screen and (max-width: 550px) {
    .login_form {
        display: flex;
        justify-content: center;
        width: 300px;
    }
}

@media screen and (max-width: 300px) {
    .login_form {
        display: flex;
        justify-content: center;
        width: 250px;
    }
}
