.login_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.paper {
    width: 550px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
}


@media screen and (max-width: 600px) {
    .paper {
        width: 100%;
        height: 300px;
        margin-top: 30px;
    }

    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 100px;
    }
}
