.count_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(59, 230, 88);
    width: 100%;
}


.count_header__icon {
    color: #fff !important;
    font-size: 32px !important;
}

