.results__table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10%;
}

.tbody {
    overflow-y: auto;
    overflow-x: scroll;
}

.results__content {
    width: 50%;
}

.results__paper {
    width: 50%;
    margin-bottom: 20px;
}

@media screen and (max-width: 780px) {
    .results__paper {
        width: 10%;
        margin-bottom: 20px;
        color: black;
    }

}


